:root {
    --cor-primaria: #000000; /* Mudança para preto */
    --cor-secundaria: #333;
    --cor-fundo: #f4f4f4;
    --cor-texto: #ffffff;
    --cor-texto-secundaria: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}

nav ul {
    list-style: none;
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
    transition: background-color 0.5s;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    padding: 60px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--cor-texto);
    color: var(--cor-texto-secundaria);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
    }
}

/* Ajustes para o projeto em destaque e imagens */
.projeto-destaque {
    margin: 20px auto;
    max-width: 50%; /* Ajuste para melhor destaque */
    text-align: center;
}

.imagem-destaque, .projeto-destaque .image.main img {
    width: 100%; /* Ajuste para a imagem se adaptar ao contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para Outros Projetos */
.outros-projetos, .projeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuição uniforme */
    margin: 20px auto;
    max-width: 80%;
}

.projeto {
    width: 48%; /* Dois projetos por linha com espaço entre eles */
    margin: 10px 0; /* Espaçamento vertical */
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
}

/* Ajustes para Responsividade */
@media (max-width: 768px) {
    .projeto {
        width: 100%; /* Cada projeto ocupa toda a largura em dispositivos menores */
    }
}

/* Ajuste para o hover dos botões */
.actions.special .button:hover {
    background-color: #555;
    transition: background-color 0.5s;
}