:root {
    --cor-primaria: #000000; /* Mudança para preto */
    --cor-secundaria: #333;
    --cor-fundo: #f4f4f4;
    --cor-texto: #ffffff;
    --cor-texto-secundaria: #000000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}

nav ul {
    list-style: none;
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
    transition: background-color 0.5s;
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    padding: 60px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--cor-texto);
    color: var(--cor-texto-secundaria);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
    }
}
/* Centralizando o código do GitHub */
.codigo-github {
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-top: 20px; /* Espaço acima do link */
}

.codigo-github a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.github-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* Estilos para as imagens do projeto */
.imagem-projeto {
    width: 400px;
    height: 200px;
    margin-top: 10px;
    display: block; /* Faz com que cada imagem ocupe sua própria linha */
    margin-left: auto; /* Junto com margin-right: auto, centraliza a imagem */
    margin-right: auto;
}
.projeto-destaque {
    margin: 20px auto;
    max-width: 80%; /* Reduz a largura máxima para uma proporção menor */
    text-align: center;
}

/* Estilização adicional para imagem/contêiner do projeto em destaque */
.imagem-destaque {
    width: 100%; /* Faz a imagem preencher o contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

.post.featured .major {
    margin-bottom: 1rem;
}

.post.featured .image.main img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.post.featured .actions.special .button.large {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    font-size: 1.25em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilos para Outros Projetos */
.outros-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 80%;
  }
  
  .projeto {
    width: 45%; /* Ajusta para dois projetos por linha */
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  /* Ajustes para Responsividade */
  @media (max-width: 768px) {
    .projeto {
      width: 90%; /* Ajusta para que cada projeto ocupe praticamente toda a largura em dispositivos menores */
      margin: 10px auto;
    }
  }

/* Ajuste para o hover dos botões */
.actions.special .button:hover {
    background-color: #555;
    transition: background-color 0.5s;
}